/* Body */

#body {
  display: grid;
  grid-template-columns: 0.9fr 78%;
  background-color: #E6E6FA;
  font-family: monospace;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/* Navbar */

#header {
  background-image: linear-gradient(
    180deg,
    #E6E6FA,
    lavender, 
    steelBlue,
    deepskyblue,
    crimson);
  width: 100%;
}

.navbar {
  position: fixed;
  margin: 8px 5%;
}

.image {
  position: absolute;
  padding: 5px 5px 5px 5px;
}

.profile {
  position: relative;
  width: 100%;
  object-fit: cover;
  border-radius: 25% 50% 25% 50%;
  border: 2px solid white;
}

.link {
  position: relative;
  width: 100%;
  display: grid;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 30vh;
  height: 70vh;
}

.navbar-item {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.navbar-item:hover {
  color: white;
}

/* Main */

#main section {
  border: 2px solid white;
  margin: 15px;
  background-color: lavender;
  padding: 0 20px;
  letter-spacing: 0.1em;
}

#main h1 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

/* About */

.location {
  color: steelblue;
  font-style: italic;
}

.contact-item {
  text-decoration: none;
}

#about strong {
  font-style: italic;
  font-family: Arial;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto;
  padding: 0 auto;
}


/* Skills */

.slide-item {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#slideskills {
  width: 100%;
  height: 11em;
  position: relative;
  overflow: hidden;
}

#slideskills > * {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

#slideskills > *:first-child {
  animation: 12s slideskills infinite ease-in-out;
}

@keyframes slideskills {
  0% {margin-top: 11em}
  7.5% {margin-top: 11em}
  15% {margin-top: 0em}
  21.5% {margin-top: 0em}
  29% {margin-top: -11em}
  35.5% {margin-top: -11em}
  43% {margin-top: -22em}
  49.5% {margin-top: -22em}
  57% {margin-top: -33em}
  63.5% {margin-top: -33em}
  71% {margin-top: -44em}
  77.5% {margin-top: -44em}
  86% {margin-top: -55em}
  96% {margin-top: -55em}
  100% {margin-top: -66em}
}

/* Projects */

.projects {
  align-items: center;
  margin: 0 auto;
}

.project * span {
 font-style: oblique;
 font-weight: normal;
}

.description, .stack {
  background-color: white;
  font-style: oblique;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
 }

 .team {
  font-style: oblique;
  font-weight: bold;
 }

.project1, .project2 {
  padding: 5px auto;
  margin: 10px auto;
  border: thin solid white;
  animation-name: background;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 0 auto;
  margin: 0 auto;
}

@keyframes background {
  0% {
    background: lavender;
  }
  25% {
    background: steelblue;
  }
  50% {
    background: lavender;
  }
  75% {
    background: steelblue;
  }
  100% {
    background: lavender;
  }
}

/* slide project 1 */

#slide-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  border: thin solid white;
}


.slideproject1 > * {
  animation: 12s slideproject1 infinite;
  overflow: hidden;
}

@keyframes slideproject1 {
  0% {height: auto; padding: 0.5em 1em; border: none}
  33.32% {height: auto; padding: 0.5em 1em; border: none}
  33.33% {height: 0; padding: 0; border: none}
  100% {height: 0; padding: 0; border: none}
}

.slideproject1 > *:nth-child(1) {animation-delay: 0s}
.slideproject1 > *:nth-child(2) {animation-delay: -8s}
.slideproject1 > *:nth-child(3) {animation-delay: -4s}

/* slide project 2 */

#slide-item1 img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  border: thin solid white;
}
.slideproject2 > * {
  animation: 12s slideproject1 infinite;
  overflow: hidden;
}

.slideproject2 > *:nth-child(1) {animation-delay: 0s}
.slideproject2 > *:nth-child(2) {animation-delay: -8s}
.slideproject2 > *:nth-child(3) {animation-delay: -4s}

/* Experience */

li {
  list-style: none;
}

#experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem auto;
}

.experience {
  background-image: linear-gradient(
    -45deg,
    #E6E6FA,
    lavender, 
    white,
    lavender, 
    #E6E6FA);
  width: 100%;
  margin: 10px auto;
  padding-top: 5px;
}

/* Education */

#education {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.education {
  background-image: linear-gradient(
    45deg,
    #E6E6FA,
    lavender, 
    white,
    lavender, 
    #E6E6FA);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  margin: 10px auto;
}

.education img {
  position: absolute;
  padding-top: 27px;
}

/* certificates */

#certificates {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.certificate {
  background-image: linear-gradient(
    -45deg,
    #E6E6FA,
    lavender, 
    deepskyblue,
    lavender, 
    #E6E6FA);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  margin: 10px auto;
}

.certificate img {
  position: absolute;
  padding-top: 27px;
}

.place {
  font-style: italic;
}

/* languages */

#languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.language {
  background-image: linear-gradient(
    45deg,
    #E6E6FA,
    lavender, 
    crimson,
    lavender, 
    #E6E6FA);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  margin: 10px auto;
}

.language img {
  position: absolute;
  padding-top: 16px;
}

/* menu */



/* Media */


@media only screen and (max-width: 815px) {

  /* Body */

  #body {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
  }

  /* Navbar */

  #header {
    background-image: none;
    animation-name: background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
  }

  .image {
    position: relative;
    visibility: hidden;
    padding: 0;
  }

.profile {
  position: relative;
  visibility: hidden;
  width: 100%;
  object-fit: cover;
  border-radius: 25% 50% 25% 50%;
  border: 2px solid white;
}

.link {
  width: 100%;
  display: grid;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 30vh;
  height: 70vh;
}

.navbar-item {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.navbar-item:hover {
  color: white;
}

  /* Main */

  #main {
    padding-top: 45px;
  }

  /* Education */

  .education {
    flex-direction: column;
  }

  .education img {
    position: relative;
    padding-top: 5px;
  }

  /* Certificates */

  .certificate {
    flex-direction: column;
  }

  .certificate img {
    position: relative;
    padding-top: 5px;
  }
  /* Languages */

  .language {
    flex-direction: column;
  }

  .language img {
    position: relative;
    padding-top: 5px;
  }
}